# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
#[Bootstrap]
#Zip=../Media/packs/OgreCore.zip

[Essential]
#Zip=.SdkTrays.zip
#Zip=E:/Users/gnulinux/projects/ogresrc/ogre_src_v1-7-1/Samples/Media/packs/SdkTrays.zip
#Zip=E:\Users\gnulinux\projects\ogre_merc\ogre\Samples\Media\packs\SdkTrays.zip
#FileSystem=E:\Users\gnulinux\projects\ogresrc\ogre_src_v1-7-1\Samples\Media\packs\test
#FileSystem=E:/Users/gnulinux/projects/ogre_merc/ogre/Samples/Media/thumbnails

[Popular]

FileSystem=E:/Users/gnulinux/projects/ogre_merc/ogre/Samples/Media/fonts
FileSystem=E:/Users/gnulinux/projects/ogresrc/ogre/Samples/Media/materials/programs
FileSystem=E:/Users/gnulinux/projects/ogresrc/ogre/Samples/Media/materials/scripts
FileSystem=E:/Users/gnulinux/projects/ogresrc/ogre/Samples/Media/materials/textures
FileSystem=E:/Users/gnulinux/projects/ogresrc/ogre/Samples/Media/materials/textures/nvidia
FileSystem=E:/Users/gnulinux/projects/ogresrc/ogre/Samples/Media/models
FileSystem=E:/Users/gnulinux/projects/ogresrc/ogre/Samples/Media/particle
FileSystem=E:/Users/gnulinux/projects/ogresrc/ogre/Samples/Media/DeferredShadingMedia
FileSystem=E:/Users/gnulinux/projects/ogresrc/ogre/Samples/Media/PCZAppMedia
FileSystem=E:/Users/gnulinux/projects/ogresrc/ogre/Samples/Media/RTShaderLib
FileSystem=E:/Users/gnulinux/projects/ogresrc/ogre/Samples/Media/RTShaderLib/materials
Zip=E:/Users/gnulinux/projects/ogresrc/ogre/Samples/Media/packs/cubemap.zip
Zip=E:/Users/gnulinux/projects/ogresrc/ogre/Samples/Media/packs/cubemapsJS.zip
Zip=E:/Users/gnulinux/projects/ogresrc/ogre/Samples/Media/packs/dragon.zip
Zip=E:/Users/gnulinux/projects/ogresrc/ogre/Samples/Media/packs/fresneldemo.zip
Zip=E:/Users/gnulinux/projects/ogresrc/ogre/Samples/Media/packs/ogretestmap.zip
Zip=E:/Users/gnulinux/projects/ogresrc/ogre/Samples/Media/packs/ogredance.zip
Zip=E:/Users/gnulinux/projects/ogresrc/ogre/Samples/Media/packs/Sinbad.zip
Zip=E:/Users/gnulinux/projects/ogresrc/ogre/Samples/Media/packs/skybox.zip


# Resource locations to be added to the default path
[General]
#FileSystem=../Media
#FileSystem=../Media/fonts
#FileSystem=../Media/materials/programs
#FileSystem=../Media/materials/scripts
#FileSystem=../Media/materials/textures
#FileSystem=../Media/models
#FileSystem=../Media/overlays
#FileSystem=../Media/particle
#FileSystem=../Media/gui
#FileSystem=../Media/DeferredShadingMedia
FileSystem=../materials/programs
FileSystem=../materials/scripts
FileSystem=../materials/textures
FileSystem=../data/materials/programs
FileSystem=../data/materials/scripts
FileSystem=../data/materials/textures
FileSystem=../data/characters
FileSystem=../fonts
FileSystem=../data_pot/
#Zip=../Media/packs/cubemap.zip
#Zip=../Media/packs/cubemapsJS.zip
#Zip=../Media/packs/dragon.zip
#Zip=../Media/packs/fresneldemo.zip
#Zip=../Media/packs/ogretestmap.zip
#Zip=../Media/packs/skybox.zip

#FileSystem=/home/beyzend/projects/ogresrc/ogre/Samples/Media

[PROJECT_ZOMBIE]
FileSystem=../data_pot/
FileSystem=../materials/programs/
FileSystem=../materials/scripts/
FileSystem=../materials/textures/
FileSystem=../instancing_data/

#[ZGAME_CHARACTER]
#FileSystem=../data/characters

#[ZGAME_CITYMESH]
#FileSystem=../data/citymeshes




#[PLSM2]
#FileSystem:=./Samples/media/paginglandscape2/
#FileSystem:=./Samples/media/paginglandscape2/terrains
#FileSystem:=./Samples/media/paginglandscape2/materials\textures
#FileSystem:=./Samples/media/paginglandscape2/models
#FileSystem:=./Samples/media/paginglandscape2/overlays
#FileSystem:=./Samples/media/paginglandscape2/materials
#FileSystem:=./Samples/media/paginglandscape2/materials/scripts
#FileSystem:=./Samples/media/paginglandscape2/materials/programs
#FileSystem:=./Samples/media/paginglandscape2/datasrcs 


