#right now you have to manually figure out all the values. 
#In the future we should check (or compute) these in code. 
#So dont mess these values up!
[WORLDMAP_CONFIG]
#LOADRADIUS = 736.0
#UNLOADRADIUS = 768.0

MINX = -8
MINY = -8
MAXX = 8
MAXY = 8
LOADRADIUS = 512
UNLOADRADIUS = 512
#LOADRADIUS = 1
#UNLOADRADIUS = 1
FORCESYNC = 0
