#right now you have to manually figure out all the values. 
#In the future we should check (or compute) these in code. 
#So dont mess these values up!
[WORLDMAP_CONFIG]
#LOADRADIUS = 736.0
#UNLOADRADIUS = 768.0

MINX = -2300
MINY = -2300
MAXX = 2300
MAXY = 2300
LOADRADIUS = 320
UNLOADRADIUS = 352
FORCESYNC = 0
